@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    border: none;
    cursor: default;
}

body{
    background-color: black;
    overflow: auto;
}
.background{
    background-image: url("Lulu-Santos.webp");
    background-repeat: no-repeat;
    background-position: center top 5px;
    background-size: 120%;
    width: 100%;
    height: 100vh;
    position: relative;
}
header {
    color: #fff; 
    padding: 20px; 
    font-size: 20px;
    letter-spacing: 3px;
    max-width: 1200px;
    margin: 0 auto;
}
header a {
    color: #fff; 
    text-decoration: none; 
    padding: 10px 20px; 
    transition: color 0.3s; 
    cursor: pointer;
}
header a:hover {
    color: rgb(182, 9, 130); 
    
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background: black
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}


li {
    display: inline; 
    margin-right: 20px; 
}
ul{
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li{
    list-style: none;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.section-4{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 7rem;
    background-color: black;
}
.section-4 h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}
.section-4 h1:hover{
    color: rgb(182, 9, 130);
    transform: scale(1.3);
}

.card-avaliações{
    border: 3px solid rgb(182, 9, 130);
    padding: 3rem;
    background-color: rgb(0, 0, 0);
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 25rem;
    max-height: 40rem;
}
.albuns-conteiner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    margin-bottom: 15rem;
}

.card-avaliações h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card-avaliações p{
    color: white;
    font-size: 1.5rem;
}

.card-avaliações img{
    width: 120px;
    height: auto;
}
.section-5 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 7rem;
    padding: 2px;
    font-size: 20px;
}

.section-5 h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem;
    transition: transform 0.3s;
}
.section-5 h2:hover{
    color: rgb(182, 9, 130);
}
.eventos li {
    padding: 20px;
    background-color: black;
    box-shadow: 0 2px 4px rgb(255, 253, 253);
    margin-bottom: 20px;
}

.Informações {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    margin: 0 auto; 
    max-width: 600px; 
}
.Informações h3 {
    margin-bottom: 20px;
    font-size: 40px;
}
.Informações h3:hover {
    color: rgb(182, 9, 130);
}

.video-container {
    max-width: 100%; 
    position: relative;
    padding-bottom: 56.25%; 
}

.texto{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    left: 1100px;
    top: -0px;
    position: relative;
    max-width: 100%;
    font-size: 20px;
    transition: transform 0.3s;
}
.texto:hover{
    transform: scale(1.3);
}
video {
    position: absolute;
    top: -100px;
    left: 200px;
    width: 650px;
    height: 366px;
}
.grid-item {
    border: 5px solid rgb(182, 9, 130);
    padding: 0px;
    text-align: center;
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: text;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#formulariopracontato {
    font-size: 20px;
    color:white;
    text-align: center;
    padding: 30px
}
#formulariopracontato h2{
    padding: 5px
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.section-5 #map {
    width: 800px; 
    height: 500px; 
    margin: 20% auto; 
    transform: translateY(-50%); 
}
.section-8 {
    margin-top: -30rem;
}

.section-5 h3:hover{
    color: rgb(182, 9, 130);
}
